.input {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  &[data-error='true'] {
    color: #dc3545;
    border: 1px solid #dc3545;
    background-color: #f4f7fa;
  }
  &[value] {
    background-color: #f4f7fa;
    color: #102d43;
  }
}

.label {
  color: #697d8c;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 4px;
  text-align: left;
}
/* .input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: #8f95b2;
  -webkit-box-shadow: 0 0 0px 1000px #f4f7fa inset;
  background-color: #f4f7fa;
} */

.input::placeholder {
  color: #adb5bd;
  padding-left: 10px;
}

.input:enabled {
  background-color: #f4f7fa;
  color: #8f95b2;
}

.input:hover {
  background-color: #edf2f5;
  color: #697d8c;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  background-color: #ffff;
  color: #696f8c;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
  text-align: left;
}
.section {
  color: #696f8c;
  font-size: 14px;
  margin-top: 4px;
}

.input:disabled {
  background-color: #edf2f5;
  color: #c1cdd6;
  cursor: not-allowed;
}
